<h1>hello ! SignUp!</h1>

<form method="POST" action="/signup">
<div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value=""/>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value=""/>
</div>
<button>SignUp !</button>
</form>